<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>{{ site.title }}</li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.youtube_channelid %}
          <li>
            {% include icon-youtube-play.html channelid=site.youtube_channelid channelname="YouTube" %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col">
        {% if site.github_username %}
        <p>To suggest a change, <a href="https://github.com/{{site.github_username}}/{{site.github_username | downcase}}.github.io/issues">create a new issue on GitHub</a>.</p>
        {% endif %}
      </div>
    </div>

  </div>

</footer>
