<header class="site-header">

  <style type="text/css">
    header.site-header {
      overflow: hidden;
      position: relative;
    }

    .site-header .wrapper {
      position: relative;
    }
  </style>
  
  <div class="wrapper">

    <!---<h1 class="page-title">{{ page.title }}</h1>-->

    <div class="site-author">
      <img class="avatar-image" src="{{ "/img/avatar.jpg" | prepend: site.baseurl }}">
      <div><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></div>
      <div><a class="site-github" href="https://github.com/{{ site.github_username }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ site.github_username }}</span></a></div>
    </div>
    


  </div>

</header>
