<header class="site-header">

  <style type="text/css">
    header.site-header {
      overflow: hidden;
      position: relative;
    }

    .site-header nav {
      float: right;
      opacity: 0.7;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: -1px;
    }
  </style>
  
  <div class="wrapper">

    <!---<h1 class="page-title">{{ page.title }}</h1>-->
      <nav>
        <a class="homepage-link" href="{{ site.baseurl }}/">Home</a>
      </nav>

    <div class="site-author">
      <img class="avatar-image" src="{{ "/img/avatar.jpg" | prepend: site.baseurl }}">
      <div><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></div>
      <div><a class="site-github" href="https://github.com/{{ site.github_username }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ site.github_username }}</span></a></div>
    </div>
    


  </div>

</header>
