<table class="installtable">
	{% if include.ubuntu %}<tr>
		<td>
			<span><img src="/img/distro/kubuntu.svg" />Kubuntu</span><span><img src="/img/distro/kdeneon.svg" />KDE Neon</span>
		</td>
		<td><code>sudo apt install {{include.ubuntu}}</code></td>
	</tr>{% endif %}
	{% if include.arch %}<tr>
		<td>
			<span><img src="/img/distro/manjaro.svg" />Manjaro</span><span><img src="/img/distro/archlinux.svg" />Arch</span>
		</td>
		<td><code>sudo pacman -S {{include.arch}}</code></td>
	</tr>{% endif %}
	{% if include.opensuse %}<tr>
		<td>
			<span><img src="/img/distro/opensuse.svg" />OpenSUSE</span>
		</td>
		<td><code>sudo zypper install {{include.opensuse}}</code></td>
	</tr>{% endif %}
</table>
