<td>{% if include.repoName %}<a class="repoanchorlink" name="{{include.repoName | slugify}}" href="#{{include.repoName | slugify}}">¶</a>{{include.repoName}}{% endif %}</td>
<td>
	{% if include.gitUrl %}
		<a href="{{include.gitUrl}}">
			{% if include.gitUrl contains 'https://github.com' %}
				GitHub
			{% elsif include.gitUrl contains 'https://websvn.kde.org' %}
				SVN Repo
			{% else %}
				Git Repo
			{% endif %}
		</a>
	{% else %}
		<a {% if include.gitRepo %}href="https://invent.kde.org/{% if include.gitlabGroup %}{{include.gitlabGroup}}/{% endif %}{{include.gitRepo}}{% if include.gitPath %}/-/tree/master/{{include.gitPath}}{% endif %}"{% endif %}>GitLab</a>
	{% endif %}
</td>

{% if include.githubLink %}<td><a href="{{include.githubLink}}" title="GitHub Mirror">GH</a></td>{% endif %}

{% if include.product %}
	{% include kdeBugs.html product=include.product %}
{% elsif include.phabWorkboard %}
	<td><a href="{{ include.phabWorkboard }}">All Tasks</a></td>
	<td><a href="{{ include.phabWorkboard }}">(▼ Create Task)</a></td>
{% else %}
	<td><a>All Bugs</a></td>
	<td><a>New Bug</a></td>
{% endif %}


<td><a {% if include.gitRepo %}href="https://invent.kde.org/{% if include.gitlabGroup %}{{include.gitlabGroup}}/{% endif %}{{include.gitRepo}}/-/merge_requests"{% endif %}>Merge Requests</a></td>
<td><a {% if include.gitRepo %}href="https://invent.kde.org/{% if include.gitlabGroup %}{{include.gitlabGroup}}/{% endif %}{{include.gitRepo}}/-/merge_requests/new"{% endif %}>New MR</a></td>

<td><a {% if include.phabRepo %}href="https://phabricator.kde.org/source/{{include.phabRepo}}/"{% endif %}>Phabricator</a></td>
<td><a {% if include.phabDiffQuery %}href="https://phabricator.kde.org/differential/query/{{include.phabDiffQuery}}/#R"{% endif %}>Phab PRs</a></td>
<!-- <td><a {% if include.phabRepoName %}href="https://phabricator.kde.org/differential/diff/create/"{% endif %}>New PR {% if include.phabRepoName %}(Repo: {{include.phabRepoName}}){% endif %}</a></td> -->
