// https://github.com/jasonlong/cayman-theme

$headerTextColor: #111;

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

// Header
.site-header {
  color: $headerTextColor;
  text-align: center;
  box-shadow: 0 0 10px #e8e8e8;
  box-sizing: border-box;
  height: 92px;
  
  nav a,
  nav a:visited {
    color: $headerTextColor;
  }
}
@media screen and (min-width: 64em) { .site-header { padding: 1rem 6rem 1rem 6rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .site-header { padding: 1rem 4rem; } }
@media screen and (max-width: 42em) { .site-header { padding: 1rem 1rem; } }


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.page-title {
  margin-top: 0;
  margin-bottom: 0.1rem;
}
@media screen and (min-width: 64em) { .page-title { font-size: 3.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .page-title { font-size: 2.25rem; } }
@media screen and (max-width: 42em) { .page-title { font-size: 1.75rem; } }


.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
}
.site-author {
  .avatar-image {
    float: left;
    margin-right: 1rem;
    border-radius: 5px;
  }
  div {
    text-align: left;
  }
}
.site-title,
.site-github,
.site-youtube {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
    margin-bottom: 0;

    &,
    &:visited {
        color: $headerTextColor;
    }
}
.site-title {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -1px;
    font-weight: bold;
}
.site-github,
.site-youtube {
  line-height: 1;
}
.site-github .icon > svg path,
.site-youtube .icon > svg path {
  fill: $headerTextColor;
}
.site-youtube .icon > svg {
  width: 18px;
}
.icon {
  vertical-align: middle;
}
.icon + .username {
  margin-left: 4px;
}

// Content
p, li {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}
code {
  font-size: 19px;
}
code.nowrap {
  white-space: nowrap;
}
pre > code {
  font-size: 15px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
hr {
  color: #eeeeee;
  margin: 1em 0;
}

// Videos
.post-content video {
  box-shadow: 0 0 4px #000;
  display: block;
  margin: 0 auto;
}
.post-content > video {
  margin: 0 auto 10px auto;
}

// Images
.post-content img {
  box-shadow: 0 0 4px #000;
  display: block;
  margin: 0 auto;
}
.post-content a.image-container {
  display: block;
  margin: 0 0 10px;
}
@media screen and (min-width: 64em) {
  .post-content img.pull-right,
  .post-content img.pull-left {
    max-width: calc(50vw - 1em);
    border: 2px solid #eee;
    max-height: 60vh;

  }
  .post-content img.pull-left {
    margin: 0 1em 1em calc(-50vw + 50%);
    float: left;
  }
  .post-content img.pull-right {
    margin: 0 calc(-50vw + 50%) 1em 1em;
    float: right;
  }
  .post-content .outset {
    margin: 0 -140px 1em -140px;
    max-width: 1020px;
  }
  /* Don't overlap the nav if we .outset at the start of a post */
  .post:nth-of-type(1) .post-content .outset:nth-child(-n+8) {
    margin-left: -20px;
    margin-right: -20px;
  }
  .post-content .outset {
    box-shadow: 0 0 10px #000;
  }
}


.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    box-sizing: border-box;
    height: 160px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    box-sizing: border-box;
    min-height: calc(100vh - 92px - 160px);
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

// Keep menu and post title aligned on index and post page.
.post-title {
  margin-top: 0;
  padding-top: 10px;
}

.post-title + .post-meta {
  margin-top: -20px;
}




/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    word-break: break-word;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    table.table {
        width: 100%;
        border-spacing: 0;

        thead th {
            font-weight: bold;
            border-bottom: 1px solid #000;
        }
        tbody tr:nth-of-type(2n-1) td {
            background-color: rgba(0,0,0,.03);
        }
    }
}
