---
layout: default
---

{% include sidenav.html %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time title="{{ page.date | date_to_rfc822 }}"  datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<script type="text/javascript">
function forEachImage(callback) {
	document.querySelectorAll('.post-content > p > img:first-child:last-child').forEach(callback)
}
forEachImage(function(img){
	var p = img.parentNode
	var a = document.createElement('a')
	a.classList.add('image-container')
	a.setAttribute('href', img.getAttribute('src'))
	a.setAttribute('target', '_blank')
	p.replaceWith(a)
	a.appendChild(img)
})
function forEachHeading(callback) {
	document.querySelectorAll('.post-content > h2').forEach(callback)
	document.querySelectorAll('.post-content > h3').forEach(callback)
	document.querySelectorAll('.post-content > h4').forEach(callback)
	document.querySelectorAll('.post-content > h5').forEach(callback)
	document.querySelectorAll('.post-content > h6').forEach(callback)
}
forEachHeading(function(h){
	let a = document.createElement('a')
	a.classList.add('header-link')
	a.setAttribute('href', '#' + h.id)
	h.appendChild(a)
})
</script>
