---
layout: page
---
<style type="text/css">
.page-content .wrapper {
    /* wider */
    max-width: -webkit-calc(1024px - (30px * 2));
    max-width: calc(1024px - (30px * 2));
}

@media screen and (min-width: 1440px) {
    .nav-contents {
        position: absolute;
        width: calc((100vw - 1024px)/2 - 30px);
    }
    .nav-contents.nav-left {
        left: calc((100vw - 1024px)/2 * -1);
    }
    .nav-contents.nav-right {
        right: calc((100vw - 1024px)/2 * -1);
    }
}
</style>

{{ content }}